<h1>Youngest director</h1>
<!-- <%#= @directors_array %> -->
<p>The eldest director in our dataset right now is <a href="directors/<%= @youngest_director_name.id %>"><%= @youngest_director_name.name %></a>, born on <%= @youngest_director_name.dob %>.</p>
 